.header-Name{
  text-align: left;
  font-size:max(1.8229vw,25px);
  font-weight: 700;
  color: white;
  padding-left: 4vw;
  padding-top: 10vw;
}


.input-Text{
  width: max(400px,37.2917vw);
  margin-left: 4vw;
  border:none;
  text-align: left;
  border-bottom: 0.1542vw solid white; /* 하단에 하얀색 테두리 추가 */
  background-color: transparent; /* 배경색 투명 처리 */
  color: black; /* 입력 텍스트 색상 하얀색으로 설정 */
}

.input-underline:focus {
  outline: none; /* 기본 아웃라인 제거 */
  border-bottom: 0.1042vw solid white; /* 포커스 시에는 시안색으로 변경 */
}

.search-button {
border: none; /* 버튼 테두리 제거 */
background-color: transparent; /* 배경색 투명 처리 */
cursor: pointer; /* 마우스 오버 시 커서 변경 */
padding: 0; /* 내부 패딩 제거 */
}
.search-button{
width: 40px; /* 이미지 너비 설정, 필요에 따라 조절 */
height: 30px;
background-image: url('../../img/flight_land.png');
}
.search-button img {

width: 24px; /* 이미지 너비 설정, 필요에 따라 조절 */
height: 24px; /* 이미지 높이 설정, 필요에 따라 조절 */
}

/* 메인 헤더 이미지 슬라이드 (중앙이미지 / 중앙말고 사이드 쪽이미지)*/

.imgContainer_main{
  width: 770px;
  height: 530px;
  border-radius: 276px;
}
.imgContainer_sub{
  width: 405px;
  height: 586px;
  border-radius: 202px;
  filter: blur(20px);

}